@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 0.85vw;
  background-color: #141414;
}

.hero-bg {
	background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.1)), url("./src/assets/hero.png");
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* For Firefox */
.no-scrollbar {
  scrollbar-width: none;
}

@font-face {
  font-family: 'NetflixSans';
  src: url('/assets/fonts/NetflixSans_W_Rg.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'NetflixSans';
  src: url('/assets/fonts/NetflixSans_W_Md.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'NetflixSans';
  src: url('/assets/fonts/NetflixSans_W_Bd.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

body {
  @apply font-sans;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}